<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button style="margin-bottom: 20px;" expand="full" shape="round" color="success" (click)="getGeolocation()">Get Geolocation</ion-button>
    <ion-button style="margin-bottom: 20px;" expand="full" shape="round" color="primary" (click)="vibrate()">Vibration</ion-button>
    <ion-button style="margin-bottom: 20px;" expand="full" shape="round" color="danger" (click)="takePicture()">Take picture</ion-button>

    <img [src]="base64Image" *ngIf="base64Image"/>
  </div>
</ion-content>
